In [2]:
data = [
    {"cust_id": 1, "timestamp": "2024-01-01", "residence": "Tel Aviv", "grade": 8},
    {"cust_id": 2, "timestamp": "2024-01-02", "residence": "Jerusalem", "grade": None},
    {"cust_id": 1, "timestamp": "2024-01-03", "residence": "Tel Aviv", "grade": 8},
    {"cust_id": 3, "timestamp": "2024-01-04", "residence": None, "grade": 7},
    {"cust_id": 2, "timestamp": "2024-01-05", "residence": "Jerusalem", "grade": None}
]

unique_data = []
seen_cust_ids = set()

for record in data:
    if record['cust_id'] not in seen_cust_ids:
        unique_data.append(record)
        seen_cust_ids.add(record['cust_id'])

unique_data

[{'cust_id': 1,
  'timestamp': '2024-01-01',
  'residence': 'Tel Aviv',
  'grade': 8},
 {'cust_id': 2,
  'timestamp': '2024-01-02',
  'residence': 'Jerusalem',
  'grade': None},
 {'cust_id': 3, 'timestamp': '2024-01-04', 'residence': None, 'grade': 7}]

In [4]:
filtered_data = [record for record in unique_data if None not in record.values()]
filtered_data

[{'cust_id': 1,
  'timestamp': '2024-01-01',
  'residence': 'Tel Aviv',
  'grade': 8}]

In [6]:
grades = [record['grade'] for record in filtered_data if record['grade'] is not None]
average_grade = sum(grades) / len(grades) if grades else 0

updated_data = [
    {**record, 'grade': average_grade if record['grade'] is None else record['grade']}
    for record in unique_data
]
updated_data

[{'cust_id': 1,
  'timestamp': '2024-01-01',
  'residence': 'Tel Aviv',
  'grade': 8},
 {'cust_id': 2,
  'timestamp': '2024-01-02',
  'residence': 'Jerusalem',
  'grade': 8.0},
 {'cust_id': 3, 'timestamp': '2024-01-04', 'residence': None, 'grade': 7}]

In [20]:
import pandas as pd
data = [
    {"cust_id": 1, "timestamp": "2024-01-01", "residence": "Tel Aviv", "grade": 8},
    {"cust_id": 2, "timestamp": "2024-01-02", "residence": "Jerusalem", "grade": None},
    {"cust_id": 1, "timestamp": "2024-01-03", "residence": "Tel Aviv", "grade": 8},
    {"cust_id": 3, "timestamp": "2024-01-04", "residence": None, "grade": 7},
    {"cust_id": 2, "timestamp": "2024-01-05", "residence": "Jerusalem", "grade": None}
]
df = pd.DataFrame(data)
# 1
df = df.drop_duplicates(subset=['cust_id'])
# 2
df_cleaned = df.dropna()
# 3
average_grades = df.groupby('residence')['grade'].mean()

df['grade'] = df.apply(
    lambda row: average_grades.get(row['residence'], None) if pd.isna(row['grade']) else row['grade'],
    axis=1
)
df

   cust_id   timestamp  residence  grade
0        1  2024-01-01   Tel Aviv    8.0
1        2  2024-01-02  Jerusalem    NaN
3        3  2024-01-04       None    7.0